.root{
    -fx-background-color: #CCFF99;
}

.scroll-pane{
    -fx-background: #CCFF99;
}

.scroll-bar .track-background {
 -fx-background-color: #006400;
 -fx-background-radius: 2em;
}

.scroll-bar .thumb {
 -fx-background-color: #CCFF99;
}

.button {
-fx-background-color: #CCFF99
}

.button:hover {
-fx-background-color: #C14242
}

.topBtn{
       -fx-background-color: #006400;
           -fx-text-fill: #7CFC00;
           -fx-font-weight: bold;
}

.topBtn:hover {
       -fx-background-color: #7CFC00;
           -fx-text-fill: #006400;
}

.label{
       -fx-text-fill: #006400;
       -fx-font-weight: bold;
}

.label:hover{
    -fx-text-fill: #66CC00;
    -fx-font-size: 20 px;
    -fx-font-weight: bold;
}

#aboutBtn{
    -fx-background-color: #CCFF99;
    -fx-text-fill: #006400;
    -fx-font-weight: bold;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}




